$b-white: #FBFBFC;
$b-black: #131212;
$red: #dfc3d7;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300&display=swap');

  body::-webkit-scrollbar {
    width: 15px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: #512A56 rgba(255, 255, 255, 0.048);
  }
  body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.048);
  }
  body::-webkit-scrollbar-thumb {
    background-color: #512A56;
    border-radius: 6px;
    border: 3px solid rgba(255, 255, 255, 0.048);
  }


body {
    font-family: 'Nunito', sans-serif;
    background-color: $b-black;
    color: $b-white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unl {
    opacity: 0;
    filter: grayscale(80);
}

.fadein {
    transition: .8s ease-in;
    opacity: 1;
    filter: grayscale(0);
}

::selection {
    color: $b-black;
    background-color: $red;
}

a {
    text-decoration: none;
    color:$red;
    font-weight: lighter;
}

h1 {
    font-size: 2.6vw;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 1.3vw;
    margin: 0;
}

strike {
    color: $b-white;
    text-decoration-color:$red;
}



nav {
    width: 96%;
    padding-top: .75%;
    max-width: 1920px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .menu {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 13%;
        margin: 0;
        padding: 0;


        a {
            font-size: 1.5vw;
            color: $b-white;
            text-decoration: none;
        }

        &:hover {
            a:not(:hover) {
                transition: .4s ease-in-out;
                color: #fbfbfcbe;
            }
        }
    }

    .SC {
        display: none;
    }

    .hamburger {
        display: none;
    }

    #nav-overlay {
        position: fixed;
        display: none;
        top:0;
        left:0;
        flex-direction: row;
        z-index: 9999;
        width: 100%;
        height: 100vh;
        background: linear-gradient(45deg, #204988 0%,#701637 100%);
        justify-content: center;
        align-items: center;
    
        .content {
            display: flex;
            height: 15%;
            width: 90%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            a {
                h1 {
                    color: white;
                    font-size: xx-large;
                }
            }
        }
    }

}



.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0 0 0;
    width: 80%;
    max-width: 1536px;
    height: 52vh;

        .huge {
            font-size: 20vw;
            padding: 0;
            margin: 0;
            font-weight: 700;
        }
        .smaller {
            align-self: flex-end;
            font-size: 100%;
            margin: -5% 0 0 0;
        }

}



img.grad {
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: -2;
    margin: 0% 0 -5% 0;
    pointer-events: none;
}

.sec-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 80%;
    max-width: 1440px;

    img {
        width: 45%;
        transition: .4s ease-in-out;
        pointer-events: none;
    }
    img:hover {
        transform: scale(1.02);
    }

    .cont {
        width: 40%;

        p {
            font-size: 120%;
            line-height: 170%;
            
        }
    }
}

.sec-l {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 8% 0;
    width: 80%;
    max-width: 1440px;

    img {
        width: 45%;
        transition: .4s ease-in-out;
        pointer-events: none;
    }
    img:hover {
        transform: scale(1.02);
    }

    .cont {
        width: 40%;

        p {
            font-size: 120%;
            line-height: 170%;
            
        }
    }
}

@media (max-width: 700px) {

    nav {
        width: 85%;
        margin-top: 2%;
        align-items: center;
        div {
            display: none;
        }
        .menu {
            display: none;
        }

        .SC {
            display: flex;
            padding: 0;
            margin: 0;
            h1 {
                font-size: 45px;
                color: white;
            }
        }
        .hamburger {
            display: flex;
            padding: 0;
            margin: 0;
            width: 40px;

        }
    }
    .hero{
        width: 85%;
        height: 75vh;
        flex-direction: column;

        .huge {
            font-size: 21vw;
        }

        .smaller {
            font-size: 100%;
        }
    }

    img.grad {
        margin: -8vh 0 0 0;
        height: 45vh;
        pointer-events: none;
    }


    .sec-l, .sec-r {
        flex-direction: column;
        width: 100%;

        img {
            width: 85%;
            border-radius: 15px;
            pointer-events: none;
        }

        .cont {
            width: 85%;
            margin: 12% 0;
            h1 {
                font-size: xx-large;
            }
            p {
                font-size: medium;
                line-height: 20pt;
                padding-bottom: 15px;
            }
        }
    }
}

@media (min-width: 1920px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 26px;
    }

    nav {
        .menu {
            a {
                font-size: 28px;
            }
        }
    }

    .hero {
        .huge {
            font-size: 384px;
        }
    }

}

.footer {
    padding: 5% 0 0.5%;
}

.sources {
    padding: 3% 0;
    width: 95vw;
    max-width: 1536px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-size: 100%;
        padding: 0;
        margin: 1% 0;
        width: 80vw;
    }

}

